@model DNUStudyPlanner.Models.ForgotPasswordViewModel
@section Styles {
    <link rel="stylesheet" href="~/css/forgot.css" />
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Quên mật khẩu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
    body {
        background: url("/images/awvhf0v6rp9vsfk4l4gi20230717030908_thump.jpg") no-repeat center center;
        background-size: cover;
        font-family: Arial, sans-serif;
        text-align: center;
    }
</style>
</head>
<body>
<header>
    <div class="header-container">
        <div><img class="loGoDaiNam" src="/images/dainam.png" alt="Logo Đại Nam" /></div>
        <div>
            <h1 class="fw-bold">HỌC TẬP THÔNG MINH VÀ CHINH PHỤC MỤC TIÊU <br/> <span style="color:red">DNU STUDY PLANNER</span></h1>
        </div>

    </div>
</header>
<div class="forgot-password-page">
    <div class="forgot-container">
        <h2>QUÊN MẬT KHẨU</h2>
        <p class="subtitle">Vui lòng nhập email để lấy lại mật khẩu</p>

        <form asp-action="ForgotPassword" method="post">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Nhập email..." required/>

            <div class="button-group">

                <button type="submit" class="btn-login">Gửi yêu cầu</button>

                <a href="@Url.Action("Login", "Account")" class="btn-cancel">Huỷ</a>

            </div>
        </form>

        @if (ViewBag.ResetCode != null)
        {
            <div class="reset-code-box">
                <h4>Mã khôi phục của bạn:</h4>
                <div class="reset-code">@ViewBag.ResetCode</div>
            </div>
        }

        <div class="forgot-password">
            <a href="@Url.Action("Login", "Account")">Quay lại đăng nhập</a>
        </div>
    </div>
</div>
</body>
</html>