@model DNUStudyPlanner.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Đặt lại Mật khẩu";
}

@section Styles {
    <link rel="stylesheet" href="~/css/forgot.css" /> 
    <style>
        body {
            background: url("/images/awvhf0v6rp9vsfk4l4gi20230717030908_thump.jpg") no-repeat center center;
            background-size: cover;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .forgot-password-page {
             padding-top: 50px;
        }
    </style>
}

<header>
    <div class="header-container" >
        <div style="text-align: center;"><img class="loGoDaiNam" src="/images/dainam.png" alt="Logo Đại Nam" /></div>
        <div>
            <h1 class="fw-bold">HỌC TẬP THÔNG MINH VÀ CHINH PHỤC MỤC TIÊU <br/> <span style="color:red">DNU STUDY PLANNER</span></h1>
        </div>

    </div>
</header>

<div class="forgot-password-page">
    <div class="forgot-container">
        <h2>ĐẶT LẠI MẬT KHẨU</h2>
        <p class="subtitle">Vui lòng nhập mật khẩu mới của bạn</p>

        <form asp-action="ResetPassword" asp-controller="Account" method="post">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="NewPassword">Mật khẩu Mới</label>
            <input asp-for="NewPassword" 
                   type="password" 
                   class="form-control"
                   placeholder="Nhập mật khẩu mới..." 
                   required/>
            <span asp-validation-for="NewPassword" class="text-danger"></span>

            <label asp-for="ConfirmPassword">Xác nhận Mật khẩu</label>
            <input asp-for="ConfirmPassword" 
                   type="password" 
                   class="form-control"
                   placeholder="Nhập lại mật khẩu..." 
                   required/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>


            <div class="button-group mt-4">
                <button type="submit" class="btn-login">Hoàn tất Đặt lại</button>
                <a asp-action="Login" asp-controller="Account" class="btn-cancel">Hủy</a>
            </div>
        </form>

        <div class="forgot-password mt-3">
            <a asp-action="Login" asp-controller="Account">Quay lại đăng nhập</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}