body {
    background: url('/images/awvhf0v6rp9vsfk4l4gi20230717030908_thump.jpg') no-repeat center center;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff7b5a;
    color: white;
    padding: 20px 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-bottom: 4px solid #f2573a;
}

header img.loGoDaiNam {
    width: 80px;
    height: auto;
}

header h1 {
    font-size: 22px;
    line-height: 1.4;
    font-weight: bold;
    margin: 0;
}

header h1 span {
    color: red;
}

.register-container {
    background: rgba(255, 255, 255, 0.96);
    width: 900px;
    margin: 60px auto;
    padding: 40px 50px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.register-container h2 {
    font-size: 28px;
    color: #ff7b5a;
    font-weight: bold;
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 5px;

}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.btn-register,
.btn-cancel {
    padding: 12px 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
    transition: 0.3s ease;
}

.btn-register {
    background-color: #008CFF;
    text-decoration: none;
}

.btn-register:hover {
    background-color: #0066cc;
}

.btn-cancel {
    background-color: #ff7b5a;
    text-decoration: none;
}

.btn-cancel:hover {
    background-color: #e25a3f;
}
